<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link th:replace="/commons/common_css :: common_css">
</head>
<body>
<div class="modal-header">
    <h4 class="modal-title">流程定义</h4>
</div>
<table class="table table-bordered">
    <tr>
        <th>id</th>
        <th>名称</th>
        <th>流程定义key</th>
        <th>版本</th>
        <th>流程定义规则文件名称</th>
        <th>流程定义规则图片名称</th>
        <th>部署id</th>
        <th>操作</th>
    </tr>
    <tr th:each="definitionP,defStat : ${definitionProcess}">
        <td th:text="${definitionP.id}"></td>
        <td th:text="${definitionP.name}"></td>
        <td th:text="${definitionP.key}"></td>
        <td th:text="${definitionP.version}"></td>
        <td th:text="${definitionP.getResourceName()}"></td>
        <td th:text="${definitionP.getDiagramResourceName()}"></td>
        <td th:text="${definitionP.deploymentId}"></td>
        <td>
            <a href="index.html" target="_blank"
               th:href="@{/process/processImg(deploymentId=${definitionP.deploymentId},resourceName= ${definitionP.getDiagramResourceName()})}">查看流程图</a>
        </td>
    </tr>
</table>
</body>
</html>