<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link th:replace="/commons/common_css :: common_css">
</head>
<body>
<div class="modal-header">
    <h4 class="modal-title">流程上传并部署</h4>
</div>
<form id="uploadForm" th:action="@{/process/uploadDeploymentZip}" method="post" enctype="multipart/form-data">
    <div class="modal-header no-b">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><i class="fa fa-cloud-upload"></i> <span>上传文件</span></h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>流程名称</label>
            <input id="processName" name="processName" type="text" class="form-control">
        </div>
        <div class="form-group">
            <input name="file" type="file" class="form-control" multiple="multiple">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" value="提交">提交</button>
    </div>
</form>
<script th:replace="/commons/common_js :: common_js"></script>
<script>
    $("#uploadForm").ajaxForm({
        beforeSubmit: function (arr, form, opt) {
            var processName = $("#processName").val();
            if (processName==""){
                Toast.error("流程名称不能为空");
                return false;
            }
        },
        success: function (data, statusText, xhr, $form) {
            if (data.result === true) {
                Toast.info("成功");
            }else {
                Toast.error(data.errorMsg);
            }
        }
    });
</script>
</body>
</html>