<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link th:replace="/commons/common_css :: common_css">
</head>
<body>
<div>
    <form th:action="@{/leave/approval}" class="form-horizontal parsley-form">

        <input hidden name="businessId" th:value="${sysLeave.id}"/>
        <input hidden name="taskId" th:value="${taskId}"/>
        <div class="form-group">
            <label class="col-sm-1 control-label">请假人</label>
            <input class="form-control" readonly name="username" th:value="${sysUser.username}"/><br/>

        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">天数</label>
            <input class="form-control" min="0" type="number" name="day" th:value="${sysLeave.leaveDay}"/>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">备注</label>
            <input class="form-control" name="remark" th:value="${sysLeave.leaveReason}"/>
        </div>
    </form>
    <table class="table table-bordered">
        <caption>历史批注</caption>
        <tr>
            <th>id</th>
            <th>处理人</th>
            <th>意见</th>
            <th>处理时间</th>
        </tr>
        <tr th:each="hisComment,comStat : ${comments}">

            <td th:text="${hisComment.id}"></td>
            <td th:text="${hisComment.userId}"></td>
            <td th:text="${hisComment.fullMessage}"></td>
            <td th:text="${#dates.format(hisComment.time,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
</div>
</body>
</html>