<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link th:replace="/commons/common_css :: common_css">
</head>
<body>
<div class="modal-header">
    <h4 class="modal-title">请假记录</h4>
</div>
<div>
    <table class="table table-bordered">
        <tr>
            <th>id</th>
            <th>请假原因</th>
            <th>天数</th>
            <th>操作</th>
        </tr>
        <tr th:each="leave,lStat : ${leaves}">
            <td th:text="${leave.id}"></td>
            <td th:text="${leave.leaveReason}"></td>
            <td th:text="${leave.leaveDay}"></td>
            <td>
                <a target="_blank" th:href="@{/leave/leaveLog(leaveId=${leave.id})}">查看</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>