<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.act.demo.mapper.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.act.demo.domain.SysLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="log_time" jdbcType="VARCHAR" property="logTime" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.act.demo.domain.SysLog">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, level, user, ip, log_time, source, browser, platform
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.act.demo.domain.SysLog">
    insert into sys_log (id, level, user, 
      ip, log_time, source, 
      browser, platform, content
      )
    values (#{id,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{user,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{logTime,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{browser,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.act.demo.domain.SysLog">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="logTime != null">
        log_time,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="browser != null">
        browser,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.act.demo.domain.SysLog">
    update sys_log
    <set>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        log_time = #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.act.demo.domain.SysLog">
    update sys_log
    set level = #{level,jdbcType=INTEGER},
      user = #{user,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      log_time = #{logTime,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.act.demo.domain.SysLog">
    update sys_log
    set level = #{level,jdbcType=INTEGER},
      user = #{user,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      log_time = #{logTime,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>